<%- include("head"); %>
<body>
    <div class="container">
        <div class="row"> 
            <div class="col">
                <%- include("menu"); %>
            </div>
         </div>
        <div class="row">
            <div class="col">
                <h1>Liste des utilisateurs d'un hashtag</h1>
                <form method="get" onsubmit="setAction(this,'/hashtag/usersByHashtag', 'hashtagInput')">
                    <div class="form-group">
                        <label for="hashtagInput">Entrer un Hasthag</label>
                        <input type="text" class="form-control" id="hashtagInput" aria-describedby="emailHelp" required>
                    </div>
                <button type="submit" class="btn btn-primary">valider</button>
                </form>
            <% if (typeof users != 'undefined') { %>
                <div class="tooMuch">
                        <ul class="list-group">
                            <% users.value.forEach((item) => { %>
                                <% if (item !== '') { %>
                                <li class="list-group-item">
                                    <span><%= item %></span> 
                                </li>
                                <% } %>
                            <% }); %>
                        </ul>
                </div>
                <% } else if (typeof error != 'undefined') { %> 
                    <p class="error"><%= error.body %></p>
                <% } %>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1>Nombre d'appartion d'un hashtag</h1>
                <form method="get" onsubmit="setAction(this,'/hashtag/count', 'hashtagInput2')">
                    <div class="form-group">
                        <label for="hashtagInput2">Entrer un Hasthag</label>
                        <input type="text" class="form-control" id="hashtagInput2" aria-describedby="emailHelp" required>
                    </div>
                <button type="submit" class="btn btn-primary">compter</button>
                </form>
            <% if (typeof countResponse != 'undefined') { %>
                <div>
                    <p class="labelResult"><%= countResponse.value %></p> 
                </div>
                <% } else if (typeof errorCount != 'undefined') { %> 
                    <p class="error"><%= errorCount.body %></p>
                <% } %>

            </div>
        </div>


        <div class="row">
            <div class="col">
                <h1>Top k des hashtags les plus utilisés</h1>
                <form method="get" onsubmit="setAction(this,'/hashtag/topk', 'topkInput')">
                    <div class="form-group">
                        <label for="topkInput">Entrer un Hasthag</label>
                        <input type="number" class="form-control" id="topkInput" aria-describedby="emailHelp" min="1" max="10000" required>
                    </div>
                <button type="submit" class="btn btn-primary">valider</button>
                </form>
            <% if (typeof topk != 'undefined') { %>
                <div class="tooMuch">
                        <ul class="list-group">
                            <% topk.hashtags.forEach((item, index) => { %>
                                <% if (index % 2 === 0) { %>
                                <li class="list-group-item">
                                    <span><%= topk.hashtags[index+1].$ %></span>&nbsp;
                                    <span><%= item.$ %></span> 
                                </li>
                                <% } %>
                            <% }); %>
                        </ul>
                </div>
            <% } %>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1>Top k des hashtags les plus utilisés pour un jour</h1>
                <form method="get" onsubmit="myAction5(this)">
                    <div class="form-group">
                        <label for="dayInput">Entrer un numéro du jour</label>
                        <input type="number" class="form-control" id="dayInput" aria-describedby="emailHelp" min="1" max="21" required>
                    </div>
                    <div class="form-group">
                        <label for="topkByDayInput">Entrer k</label>
                        <input type="number" class="form-control" id="topkByDayInput" aria-describedby="emailHelp" min="1" max="10000" required>
                    </div>
 
                <button type="submit" class="btn btn-primary">valider</button>
                </form>
            <% if (typeof topkByDay != 'undefined') { %>
                <div>
                        <ul class="list-group">
                            <% topkByDay.hashtags.forEach((item, index) => { %>
                                <% if (index % 2 === 0) { %>
                                <li class="list-group-item">
                                    <span><%= topkByDay.hashtags[index+1].$ %></span>&nbsp;
                                    <span><%= item.$ %></span> 
                                </li>
                                <% } %>
                            <% }); %>
                        </ul>
                </div>
            <% } %>
            </div>
        </div>
 
    </div>
</body>