<%- include("head"); %>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <%- include('menu'); %>
                </div>
            </div>
            <div class="row mg">
                <div class="col">
                    <h1>Compter le nombre de tweets d'un utilisateur</h1>
                    <form method="get" onsubmit="setAction(this,'/user/tweets', 'userIdInput')">
                        <div class="form-group">
                            <input type="text" class="form-control" id="userIdInput" aria-describedby="emailHelp" placeholder="Entrer l'id de l'utilisateur" required>
                        </div>
                       <button type="submit" class="btn btn-primary">compter</button>
                    </form>
                    <% if (typeof userInfos != 'undefined') { %>
                    <div>
                        <p>
                            Nom: <%= userInfos.name %> <br>
                            Nombre de tweets: <%= userInfos.numberTweets %>
                        </p>
                    </div>
                    <% } %>

                    <% if (typeof error != 'undefined') { %>
                        <p class="error"><%= error.value %></p>
                        <% error = undefined; %>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Nombre de tweets par langue</h1>
                    <form action="/user/tweetsByLang">
                      <button type="submit" class="btn btn-primary">compter</button>
                    </form>
                    <% if (typeof tweetsByLang != 'undefined') { %>
                    <div class="tooMuch">
                        <ul class="list-group">
                            <% tweetsByLang.list.forEach(item => { %>
                                <li class="list-group-item">
                                    <%= item.key %> &ensp;
                                    <%= item.$ %>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1>Liste des hashtags pour un utilisateur</h1>
                    <form method="get" onsubmit="setAction(this,'/user/userHashtags', 'userIdInput2')">
                        <div class="form-group">
                            <input type="text" class="form-control" id="userIdInput2" aria-describedby="emailHelp" placeholder="Entrer l'id de l'utilisateur" required>
                        </div>
                       <button type="submit" class="btn btn-primary">valider</button>

                    </form>
                   <% if (typeof userHashtags != 'undefined') { %>
                    <div class="result">
                        <ul class="list-group">
                            <% userHashtags.hashtags.split(",").forEach(item => { %>
                                <% if (item !== "") { %>
                                <li class="list-group-item">
                                    <%= item %>
                                </li>
                                <% } %>
                            <% }); %>
                        </ul>

                    </div>
                    <% } %>
                   <% if (typeof error != 'undefined') { %>
                        <p class="error"><%= error.value %></p>
                        <% error = undefined; %>
                    <% } %>
                </div>
            </div>

 
        </div>
    </div>
<
</body>
</html>